@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0, 0%, 97%; /* Equivalent to #f9f9f9 */
    --black: 0, 0%, 8.6%; /* Equivalent to #141414 */
    --gray300: 240, 4%, 89.8%; /* Equivalent to #E1E1E5 */
    --primary300: 219, 61%, 63.1%; /* Equivalent to #5176D6 */
    --primary400: 223, 80.5%, 55.95%; /* Equivalent to #2F55CC */
    --primary500: 227, 100%, 48.8%; /* Equivalent to #0035CD */
    --primary700: 227, 96.5%, 26.7%; /* Equivalent to #05298A */
    --primary900: 227, 100%, 13.7%; /* Equivalent to #03184F */

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }
}
